#footerlist ul {
    display: flex;
    text-align: end;
    position: relative;
    flex-direction: row-reverse;


}
#footerlist ul li{
    list-style: none;
    margin-left: 0px;
    align-items: center;
    padding-right: 50px;
    padding-top: 30px;


}

#footerlist1{
    text-align: center;
}
.footerheader{
    box-shadow: 0 15px 40px -20px rgb(40 44 63 / 15%);
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    background: #fff;
    
}