<!-- <form #searchform="ngForm" (ngSubmit)="getvalues(searchform.value)">
    <input type="text" ngModel name="RestaurantName" placeholder="RestaurantName">
    <br><br>
    <input type="text" ngModel name="RestaurantPlace" placeholder="RestaurantPlace">
    <br><br>

    <button>search</button>&nbsp;
</form> -->



<!-- <button (click)="getoffer(popname)">Click to View Restaurant Offers</button> -->

<!-- <div *ngFor="let mydata of data" style="display: flex;" >
    <h1>{{mydata.name}}</h1>&nbsp;&nbsp;&nbsp;<h1>{{mydata.place}}</h1>

</div> -->
<div *ngFor="let myinfo of info">
    <div [ngClass]="getClass(myinfo.priority)">
        {{myinfo.time}}
    </div>
</div>

<p>
    <ngb-alert [dismissible]="false">
        <strong>Warning!</strong> Better check yourself, you're not looking too good.
    </ngb-alert>
</p>

<div *ngFor="let myinfo of info">

    <p [style.background-color]="myinfo.priority>10 ? 'red':'yellow'">testtttttttt</p>
</div>

<div style="display: block;">
    <div *ngFor="let res of allrestaurant">
        <div class="subone">

            <img alt={{res.name}} width="254" height="160" src="https://www.seriouseats.com/images/2015/06/20150602-five-grilled-chickens-01.JPG">
            <label #resname>{{res.name}}</label>
            <!-- <app-restaurantdetails [resdetail]="resname" routerLink='/restaurant/restaurantdetails'></app-restaurantdetails> -->
            <button [resdetail]="resname" mat-raised-button color="warn" (click)="getdetails(resname)">Details</button>
        </div>
    </div>
</div>


<!-- <table border="1">
    <tr>
        <th>Name</th>
        <th>Place</th>

    </tr>
    <tr *ngFor="let mydata of data">
        <td>{{mydata.name}}</td>
        <td>{{mydata.place}}</td>

    </tr>
</table>
<br>
<br>
<div class="container">
    <div class="center">
        <button routerLink='/dashboard'>Home</button>
    </div>
</div> -->