<!-- <div [ngSwitch]="mycolour">

    <h2 style="background-color: blue;" *ngSwitchCase="'test'">
            restaurant
    </h2>
    <h2 style="background-color: red;" *ngSwitchDefault>
        restaurant11
</h2>
</div> -->

<button routerLink='/restaurant'>Restaurant</button><br><br>
<button routerLink='/Itembucket'>Itembucket</button><br><br>
<button routerLink='/offers'>offers</button><br><br>
<button routerLink='/Feedback'>Feedback</button><br><br>

<button routerLink='/login'>Logout</button><br><br>