<!-- <form class="example-form">
    <mat-form-field class="example-full-width">
        <span><input type="search" matInput>
            <span><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
              </svg><mat-label>Search Restaurant</mat-label>
            </span>
        </span>

    </mat-form-field>
</form> -->


<div class="searchcontent">
    <input type="text" class="searchtext" placeholder="Search for restaurants or dishes" autocomplete="off" value="">
    <button class="searchbutton"><mat-icon style="height: 15px;width: 10px;">close</mat-icon>ESC</button>


</div>


<!-- <div class="_3eNnq">
    <div class="_38pEg"><i class="icon-magnifier _1F77L"></i>
        <input type="text" class="_2BJMh" placeholder="Search for restaurants or dishes" autocomplete="off" value="">
        <button class="_2Tyn1"><i class="icon-close-thin _3pIVC"></i><span class="py3n3">ESC</span>
        </button></div>
</div> -->