.subone {
    width: 300px;
    float: left;
    margin-bottom: 85px;
}

.error {
    color: red;
}

.warn {
    color: orange;
}

.message {
    color: green;
}

.plusquantity {
    height: 33px;
    width: 40px;
    border-top-left-radius: 6.5px;
    border: 1px solid gainsboro;
    border-bottom-left-radius: 6.5px;
}

.plusquantity {
    height: 33px;
    width: 40px;
    border-top-right-radius: 6.5px;
    border: 1px solid gainsboro;
    border-bottom-right-radius: 6.5px;
}